services:
  nuxt:
    build:
      dockerfile: nuxt.dockerfile
      args:
        NUXT_PUBLIC_APP_HOST: $NUXT_PUBLIC_APP_HOST
        NUXT_PUBLIC_REST_API_HOST: $NUXT_PUBLIC_REST_API_HOST
        NUXT_PUBLIC_GRAPHQL_API_HOST: $NUXT_PUBLIC_GRAPHQL_API_HOST
        NUXT_PUBLIC_ASSETS_API_HOST: $NUXT_PUBLIC_ASSETS_API_HOST
    environment:
      NUXT_PUBLIC_APP_HOST: $NUXT_PUBLIC_APP_HOST
      NUXT_PUBLIC_REST_API_HOST: $NUXT_PUBLIC_REST_API_HOST
      NUXT_PUBLIC_GRAPHQL_API_HOST: $NUXT_PUBLIC_GRAPHQL_API_HOST
      NUXT_PUBLIC_ASSETS_API_HOST: $NUXT_PUBLIC_ASSETS_API_HOST
    healthcheck:
      test: [CMD-SHELL, 'wget --no-verbose --tries=1 --spider http://127.0.0.1:3000/api/healthcheck || exit 1']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
